@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  color: #000;
  height: 2000px;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Navbar */
navbar {
  display: flex;
  /* position: fixed; */
  width: 100%;
  justify-content: space-between;
  background-color: #13005a;
  padding: 0 50px;
}

.nav-item {
  color: #fff;
}

.navcontainer1 {
  display: flex;
  align-items: center;
  padding: 25px;
}

.navtitle {
  color: #fff;
}

ul {
  display: flex;
}

h3 {
  padding-right: 30px;
}

ul li a {
  padding: 15px;
  transition: 0.2s;
}

ul li a:hover {
  color: #537fe7;
}

.navcontainer2 {
  display: flex;
  align-items: center;
}

.signupbtn {
  background-color: #1c82ad;
  color: #fff;
  padding: 10px 20px;
  margin-right: 50px;
  margin-left: 30px;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  transition: 0.2s;
}

.signupbtn:hover {
  background-color: #035a80;
}

.login {
  transition: 0.2s;
  color: #fff;
}

.login:hover {
  border-bottom: 2px solid #fff;
}

/* header */
header {
  display: flex;
  justify-content: space-around;
  padding: 50px;
  background: linear-gradient(180deg, #1c82ad 13.44%, #7343fc 100%);
}

.headercontainer1 {
  margin: 10px 0px;
}

.subtitle {
  padding-bottom: 20px;
  font-size: 14px;
  color: #fff;
}

.title {
  font-size: 50px;
  color: #fff;
}

.headercontainer2 {
  display: flex;
  justify-content: center;
  margin: 0 90px;
}

.headercard {
  display: flex;
  background-color: #fff;
  flex-direction: column;
  justify-content: center;
}

.imgcard {
  width: 300px;
  object-fit: cover;
}

.titleCard {
  display: flex;
  flex-direction: column;
  padding: 5px 25px;
}

.subtitleCard {
  color: #9e9e9e;
  font-size: 12px;
  padding-bottom: 15px;
}

.headercardbtn {
  display: flex;
  align-items: center;
  padding: 5px 25px 10px;
}

.enrollbtn {
  background-color: #ff8863;
  padding: 10px 20px;
  font-size: 12px;
  margin-right: 15px;
  border-radius: 5px;
  transition: 0.2s;
}

.enrollbtn:hover {
  background-color: #fc5d2d;
}

.enrolllink {
  color: #fff;
}

.learnbtn {
  background-color: #fff;
  border: 2px solid #000;
  padding: 10px 20px;
  font-size: 12px;
  margin-right: 15px;
  border-radius: 5px;
  transition: 0.2s;
}
